.App {
  text-align: center;
  height: 100%;
  padding: 1rem;
}

.App-logo {
  height: 50px;
  width: 50px;
}

code {
  background: rgba(148, 163, 184, 0.5);
  border-radius: 0.25rem;
  padding: 0.2rem 0.5rem;
}
